.btn {
  display: inline-block;
  appearance: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
  border: none;
  color: inherit;

  &:focus {
    outline: solid 1px white;
    border-radius: 0;
  }
}

.image {
  object-fit: cover;
}
